.sidebar {
  background-color: rgb(247, 247, 247);
  min-width: 250px;
  max-width: 350px;
  height: 95vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 2.5vh;
}

.icon {
  height: 5vh;
  width: 10vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
}

.icon:hover {
  width: 10vw;
  background-color: rgb(238, 238, 238);
  border-radius: 0.5vh;
  padding-left: 1vw;
}

.inbox-icon {
  color: rgb(138, 177, 235);
}

.today-icon {
  color: rgb(64, 144, 108);
}

.projects-icon {
  color: rgb(118, 66, 199);
}

.new-project {
  font-weight: 350;
  padding-top: 2vh;
  padding-left: 1.5vw;
}

h3 {
  font-weight: 400;
}

h4 {
  cursor: pointer;
  font-weight: 350;
}
